/* Ensure layout covers the entire screen. */

html {
    height: 100%;
}



/* Place drawer and content side by side. */

.demo-body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
}



/* Stack toolbar and main on top of each other. */

.demo-content {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    box-sizing: border-box;
}



/* Place drawer above toolbar shadow. */

.mdc-permanent-drawer {
    z-index: 2;
}

.demo-main {
    padding-left: 16px;
}

.extra-content-wrapper {
    padding: 10px;
}

#extra-wide-content {
    width: 200vw;
}

#extra-tall-content {
    height: 200vh;
}

.panels {
    padding: 8px;
}

.panel {
    display: none;
}

.panel.active {
    display: block;
}

.action-btn {
    margin: 8px;
}

.left-panel {
    width: 256px;
}

.left-panel img {
    width: 100%;
}

.module-filter {
    padding: 16px;
    font-size: 14px;
}

main {
    width: 100%;
}
